html, body {
  background-color: #151217;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

* {
  font-family: 'Xanh Mono', monospace, sans-serif;
  color: #ffffff;
}

::selection {
  background-color: #ddb9f8;
  color: #2a1f2e;
}